
#masterContainer {
	width:500px;
	position: relative;
	border:1px solid #E7E7E7;
	border-radius:5px;
	margin: auto;

}

#section1 {
	margin:0px;
	position: relative;
	padding:20px;
	text-align: center;
	background-color: #E7E7E7;
	border-bottom:1px solid #F7F7F7;
	color:#707070;
	font-weight:bold;
	font-size: 20px;
}

#section2 {
	margin:0px;
	position: relative;
	padding:20px;
	text-align: center;
	background-color: #E7E7E7;
	border-bottom:1px solid #F7F7F7;
	color:#707070;
	font-weight:bold;
	font-size: 20px;

}

#section3 {
	margin:0px;
	position: relative;
	padding:20px;
	text-align: center;
	background-color:#E7E7E7;
	color:#707070;
	font-weight:bold;
	font-size: 20px;

}

  .content {
  	position:relative;
	max-height:0;
	overflow:hidden;
	background-color: #F8F8F8;
	color: #333333;
	margin:0;
	padding-left:20px;
	transition: max-height .2s;
}



 .displayBlock  {
 	max-height:240px;
	transition: max-height .8s;
}




